
/*
 * ============================
 * Typography
 * ============================
 *
 * Global styles for the Type
 * on the page
 *
 */

/* UNCUT SANS */
@font-face {
  font-family: 'Uncut';
  src:  url('/fonts/Uncut-Sans-Book.woff2') format('woff2'),
  url('/fonts/Uncut-Sans-Book.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Uncut Italic';
  src:  url('/fonts/Uncut-Sans-BookItalic.woff2') format('woff2'),
  url('/fonts/Uncut-Sans-BookItalic.woff') format('woff');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Uncut Semibold';
  src:  url('/fonts/Uncut-Sans-Semibold.woff2') format('woff2'),
  url('/fonts/Uncut-Sans-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Uncut Semibod Italic';
  src:  url('/fonts/Uncut-Sans-SemiboldItalic.woff2') format('woff2'),
  url('/fonts/Uncut-Sans-SemiboldItalic.woff') format('woff');
  font-style: italic;
  font-weight: 600;
}
/* MIGRA */
@font-face {
  font-family: 'MG EL';
  src:  url('/fonts/Migra-Extralight.woff2') format('woff2'),
  url('/fonts/Migra-Extralight.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'MG ELI';
  src:  url('/fonts/MigraItalic-ExtralightItalic.woff2') format('woff2'),
  url('/fonts/MigraItalic-ExtralightItalic.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}


:root {
  --black: #191919;
  --black-dark: #090909;
  --white: #fefefe;
  --red: red;

  --border-white: 2px solid var(--white);

  --transition--global: all 0.2s ease 0.05s;
  --transition--global--timing: 0.2s ease 0.05s;

  --hover-opacity: 0.6;

  --component--side-margin: 20px;
  --component--top-bottom-margin: 20px;

  --migra: 'MG ELI';
}

* {
  box-sizing: border-box;
}


html,
body {
  background: var(--black);
  color: var(--white);
  padding: 0;
  margin: 0;
  font-size: 12px;
  letter-spacing: 0px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 0px;
  border-left: var(--border-white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 0px;
  border-top: var(--border-white);
  border-bottom: var(--border-white);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,255,255,0.1); 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  overflow: visible;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}





h1, h2, h3, h4, h5 {
  font-family: 'Uncut';
  font-weight: 300;
  font-style: normal;
}

h1.accent, h2.accent, h3.accent, h4.accent, h5.accent, span.accent, a.accent, text.accent {
  font-family: 'Migra Italic';
  font-weight: 300;
  font-style: italic;
}

p, li, span, div, a, button, td, th, input {
  font-family: 'Uncut';
  font-weight: 300;
  font-style: normal;
}


@media screen and (max-width: 767px) {
  :root {
    --component--side-margin: 10px;
    --component--top-bottom-margin: 10px;
  }
}